.button {
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.05em;
    background: none;
    border-radius: 31.5px;
    padding: 18px 54px 18px 39px;
    border: none;
    cursor: pointer;
    position: relative;
    transition: .3s;

    span {
        position: absolute;
        right: 16px;
        top: 13px;
    }
}

.button:hover {
    span {
        animation: rectangleAnim .7s ease-in-out alternate;
    }
}

@keyframes rectangleAnim {
    from {
        transform: translateX(-12px);
    }

    to {
        transform: translateX(0px);
    }
}