.title {
    color: #FF6107;
    padding: 4px 22px;
    display: inline-block;
    background: #FFFFFF;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.1em;
    border: 1px solid #F2FAF9;
    border-radius: 4px;
    font-family: 'Roboto';
    font-weight: 500;
    cursor: pointer;
}