.blogCarousel {
    &__pagination {
        display: flex;
        justify-content: flex-end;
        column-gap: 30px;

        button {
            background: none;
            border: none;
            cursor: pointer;
        }
    }

    &__card {
        display: grid;
        grid-template-columns: repeat(6,520px);
        gap: 70px;
        transition: 1s;  
    }
}

.box {
    overflow: hidden;
}
